.account-reviews{
  max-width: 1100px;
}

.account-reviews-title{
  font-size: 20px;
  letter-spacing: .22em;
  text-transform: uppercase;
  margin: 0 0 60px;
}

.account-reviews-empty{
  font-size: 14px;
  letter-spacing: .18em;
  text-transform: uppercase;
  text-align: left;
}
